{%  block form_row %}
    <div class="flex justify-between items-center space-y-2">
        <div class="label lg:min-w-48 min-w-24 text-right mr-2">{{ form_label(form) }}</div>
        <div class="input">{{ form_widget(form) }}</div>
        <div class="error">{{ form_errors(form) }}</div>
    </div>
{% endblock %}