@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input, textarea, select {
    @apply bg-slate-950/50 backdrop-blur-lg !important
  }

  .flash-error, .flash-success {
    text-align: center;
  }

  .flash-error {
    background-color: rgb(221 0 89 / 60%);
  }

  .flash-success {
    background-color: rgb(27 95 207 / 60%);
  }

}

@layer utilities {
  .button {
    @apply shadow-lg;
  }

  .button:hover {
    @apply hover:bg-opacity-50 transition;
  }

  a:not([class^="button"]):hover {
    @apply text-blue-500;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
