{% extends 'base.html.twig' %}

{% block title %}Liste des Villes{% endblock %}

{% block body %}
  <div class="flex flex-col h-full space-y-8 p-6">
    <h1 class="text-3xl font-bold text-center">Liste des Villes</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for city in cities %}
        <div class="bg-blue-500 bg-opacity-60 shadow-md overflow-hidden">
          <div class="p-6">
            <h2 class="text-xl font-semibold text-center">{{ city.name }}</h2>
            <p class="text-center">{{ city.postCode }}</p>
          </div>
        </div>
      {% else %}
        <p class="col-span-full text-center text-gray-400">Aucune ville trouvée.</p>
      {% endfor %}
    </div>

    <div class="flex justify-center mt-6">
      <a href="{# { path('city_new') } #}"
         class="button bg-amber-400 bg-opacity-40 text-white px-6 py-3">Ajouter une
        ville</a>
    </div>
  </div>
{% endblock %}