{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {{ form_start(profileForm) }}
    {{ form_widget(profileForm) }}
    <button>Enregistrer les modifications</button>
    {{ form_end(profileForm) }}
{% endblock %}
